$icon-font: (
	-accepted-advocacy: "\E800",
	-add-bold: "\E801",
	-add-square: "\E802",
	-advocacy-list: "\E803",
	-arrow-down: "\E804",
	-arrow-left: "\E805",
	-arrow-right: "\E806",
	-arrow-up: "\E807",
	-add-bag: "\E808",
	-add-book: "\E809",
	-book-square: "\E80A",
	-calendar: "\E80B",
	-camera: "\E80C",
	-chart-square: "\E80D",
	-check-icon: "\E80E",
	-clipboard-copy: "\E80F",
	-clipboard-paste: "\E810",
	-close-square: "\E811",
	-document-upload: "\E812",
	-edit: "\E813",
	-email: "\E814",
	-finger: "\E815",
	-firstline: "\E816",
	-gallery: "\E817",
	-home: "\E818",
	-home-line: "\E819",
	-image-upload: "\E81A",
	-information: "\E81B",
	-key-square: "\E81C",
	-list: "\E81D",
	-list-advocacy: "\E81E",
	-logout: "\E81F",
	-menu: "\E820",
	-message: "\E821",
	-minus: "\E822",
	-notification: "\E823",
	-office-list: "\E824",
	-organization: "\E825",
	-paper: "\E826",
	-pen: "\E827",
	-pen-add: "\E828",
	-personal-card: "\E829",
	-phone: "\E82A",
	-profile: "\E82B",
	-profile-line: "\E82C",
	-question: "\E82D",
	-rejected-advocacy: "\E82E",
	-search: "\E82F",
	-send: "\E830",
	-setting-2: "\E831",
	-sidebar-bottom: "\E832",
	-sms-edit: "\E833",
	-star: "\E834",
	-tick-2: "\E835",
	-tick-square: "\E836",
	-time: "\E837",
	-trash-square: "\E838",
	-usd-coin: "\E839",
	-user-octagon: "\E83A",
	-user-tag: "\E83B",
	-wallet-money: "\E83C",
	-close: "\E83D",
	-chevron-up: "\E83E",
	-chevron-down: "\E83F",
	-pointer: "\E840",
	-upload: "\E841",
	-usd: "\E842",
	-stamp: "\E843",
	-edit-underline: "\E844",
	-bank: "\E845",
	-google: "\E846",
	-print: "\E847",
	-trello: "\E848",
	-whatsapp: "\E849",
	-download: "\E84A",
	-negative-bold: "\E84B",
	-gps-location: "\E84C",
	-print-2: "\E84D",
	-user-edit-inline: "\E84E",
	-key-inline: "\E84F",
	-eye-hidden: "\E850",
	-eye: "\E851",
	-plus-solid: "\E852",
	-mines-solid: "\E853",
	-add-column-left: "\E856",
	-add-column-right: "\E857",
	-add-row-top: "\E858",
	-add-row-bottom: "\E859",
	-add-table: "\E85B",
	-remove-table: "\E85E",
	-remove-row: "\E85F",
	-remove-column: "\E860",
	-folder: "\E85C",
	-forward: "\E85D",
	-send-2: "\E854",
	-delete: "\E855",
	-share-file: "\E864",
	-send-3: "\E865",
	-multi-forward: "\E863"
);
